<div class="cartFlowGrid ">
    <div class="d-flex w-100 flex-column align-items-center">
        <div class="d-flex cartFlowTxtDiv w76 align-items-center mb12px">
            <div>
                <p class="textcolors-Yellow">購物明細</p>
            </div>
            <div>
                <p class="textcolors-Yellow">結帳資訊</p>
            </div>
            <div>
                <p class="textcolors-Yellow">完成訂單</p>
            </div>
        </div>
        <div class="d-flex w-100 justify-content-center pl12px">
            <div class="d-flex flex-column w-40">
                <div class=" d-flex ">
                    <p class="cartFlowP rounded-circle <%= (stage==='1' ) ? 'cartFlowChk' : '' %>">1</p>
                    <hr class="<%= (stage==='1' ) ? 'cartFlowChk' : '' %>">
                </div>
            </div>
            <div class="d-flex flex-column w-40">
                <div class=" d-flex">
                    <p class="cartFlowP rounded-circle <%= (stage==='2' ) ? 'cartFlowChk' : '' %>">2</p>
                    <hr class="<%= (stage==='2' ) ? 'cartFlowChk' : ''  %>">
                </div>
            </div>
            <div class="d-flex flex-column ">
                <div class="">
                    <p class="cartFlowP rounded-circle <%= (stage==='3' ) ? 'cartFlowChk' : '' %>">3</p>
                </div>
            </div>
        </div>
    </div>

</div>